.version.index /* version checker */
{
	color: #0000FC;
	background-color: #90F5F7;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 79px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u128
{
	z-index: 9;
	width: 226px;
	height: 4px;
	background-color: #CAA377;
	margin-left: 49px;
	position: relative;
}

#pu123-4
{
	width: 0.01px;
	margin-left: 49px;
	margin-top: -1px;
}

#u123-4
{
	z-index: 4;
	width: 211px;
	min-height: 63px;
	background-color: transparent;
	color: #8B3400;
	line-height: 29px;
	font-size: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 11px;
}

#u130
{
	z-index: 10;
	width: 64px;
	height: 4px;
	background-color: #CAA377;
	-webkit-transform: matrix(0,1,-1,0,34,-30);
	-ms-transform: matrix(0,1,-1,0,34,-30);
	transform: matrix(0,1,-1,0,34,-30);
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 192px;
}

#u131
{
	z-index: 11;
	width: 64px;
	height: 4px;
	background-color: #CAA377;
	-webkit-transform: matrix(0,1,-1,0,34,-30);
	-ms-transform: matrix(0,1,-1,0,34,-30);
	transform: matrix(0,1,-1,0,34,-30);
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: -30px;
}

#u132
{
	z-index: 12;
	width: 219px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 4px;
}

.ie #u132
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u127
{
	z-index: 8;
	width: 226px;
	height: 4px;
	background-color: #CAA377;
	margin-left: 49px;
	top: -6px;
	margin-bottom: -4px;
	position: relative;
}

#u125
{
	z-index: 2;
	width: 681px;
	background-color: #C7B299;
	padding-bottom: 30px;
	left: -100px;
	margin-top: 186px;
	position: relative;
}

#u100
{
	z-index: 3;
	width: 598px;
	height: 422px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 350px;
	background: transparent url("../images/s__48406530.jpg") no-repeat left top;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

