.version.untitled_7 /* version checker */
{
	color: #000000;
	background-color: #D61924;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u387
{
	z-index: 10;
	height: 8px;
	background-color: #D5BFA4;
}

#u387-bw
{
	z-index: 10;
	height: 8px;
}

#pu436
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 89px;
}

#u436
{
	z-index: 11;
	width: 454px;
	height: 256px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/a3.jpg") no-repeat left top;
	background-size: contain;
}

#u367
{
	z-index: 3;
	width: 454px;
	height: 256px;
	position: relative;
	margin-right: -10000px;
	left: 493px;
	background: transparent url("../images/a.jpg") no-repeat left top;
	background-size: contain;
}

#pu473
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 52px;
}

#u473
{
	z-index: 14;
	width: 454px;
	height: 256px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/aa.jpg") no-repeat left top;
	background-size: contain;
}

#u441
{
	z-index: 12;
	width: 454px;
	height: 256px;
	position: relative;
	margin-right: -10000px;
	left: 493px;
	background: transparent url("../images/a1.jpg") no-repeat left top;
	background-size: contain;
}

#pu351
{
	width: 0.01px;
	margin-left: -58px;
	margin-top: 72px;
}

#u351
{
	z-index: 2;
	width: 46px;
	height: 278px;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
}

.ie #u351
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u442
{
	z-index: 13;
	width: 454px;
	height: 256px;
	position: relative;
	margin-right: -10000px;
	left: 79px;
	background: transparent url("../images/a4.jpg") no-repeat left top;
	background-size: contain;
}

#u381-6
{
	z-index: 4;
	width: 440px;
	min-height: 248px;
	background-color: transparent;
	letter-spacing: 5px;
	line-height: 18px;
	text-align: justify;
	font-size: 15px;
	position: relative;
	margin-right: -10000px;
	left: 578px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

