.version.untitled_3 /* version checker */
{
	color: #00001F;
	background-color: #FB4C24;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u383
{
	z-index: 10;
	height: 8px;
	background-color: #D5BFA4;
}

#u383-bw
{
	z-index: 10;
	height: 8px;
}

#pu229
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 76px;
}

#u229
{
	z-index: 2;
	width: 400px;
	height: 536px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/c2.jpg") no-repeat left top;
	background-size: contain;
}

#pu249
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 518px;
}

#u249
{
	z-index: 4;
	width: 283px;
	height: 282px;
	position: relative;
	background: transparent url("../images/c.jpg") no-repeat left top;
	background-size: contain;
}

#u263
{
	z-index: 5;
	width: 341px;
	height: 227px;
	margin-top: 18px;
	position: relative;
	background: transparent url("../images/c6.jpg") no-repeat left top;
	background-size: contain;
}

#pu248
{
	width: 0.01px;
	margin-left: -48px;
	margin-top: 59px;
}

#u248
{
	z-index: 3;
	width: 19px;
	height: 400px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

.ie #u248
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u270-4
{
	z-index: 6;
	width: 543px;
	min-height: 225px;
	background-color: transparent;
	letter-spacing: 5px;
	line-height: 18px;
	text-align: justify;
	font-size: 15px;
	position: relative;
	margin-right: -10000px;
	left: 257px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

